/*Marchesi Pietro 4BI stile.css*/

body {
  background-color: #2C302E;
}

h1 {
  color: white;
  text-align: center;
}

/*Immagini dell'homepage*/
.inizio{
	width:150px;
	height:150px;
	border-radius: 8px;
}

/*Sposta immagine a sx*/
.immaginesx{
  float: left;
}

/*Sposta immagine a dx*/
.immaginedx{
  float: right;
}


/*barra di navigazione*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/*Colore per i link su cui e il puntatore tranne quello attivo*/
li a:hover:not(.attivo) {
  background-color: #111;
}

/* Pagina attualmente attiva*/
.attivo {
  background-color: #555;
}
