*{
	font-family: arial;
	box-sizing: border-box;
}

body{
	background-image: linear-gradient(to bottom, #001133 0%, #252525 9%);
}

h1{
	text-align: center;
	color: white;
}

#testo{
	display: flex;
	height: 160px;
	width: 100%;
	color: white;
	padding: 3px;
	background-color: #000F22;
	border-bottom: solid orange 1px;
	border-top: solid #AA7700 1px;
}

.left{
	width: 394px;
	color: white;
	font-size: 25px;
	padding: 40px;
	margin: auto;
}

.right{
	flex-grow: 2;
	flex-shrink: 2;
	padding: 20px;
	margin: auto;
	font-family: verdana;
	color: #eee;
	font-size: 13px;
	text-align: justify;
	letter-spacing: 2px;
	border-left: 2px solid orange;
}

#immagini{
	margin-top: 8px;
	display: flex;
	flex-wrap: wrap;
}

div > img{
	padding: 4px;
}

div > a{
	position: relative;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

span{
	display: none;
	margin-bottom: 5px;
	border-bottom: 1px solid orange;
	width: 100%;
	padding: 12px;
	font-family: Verdana;
	color: white;
	font-size: 12px;
	text-align: center;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
	bottom: 0px;
	left: 0px;
	backdrop-filter: blur(3px);
}

img:hover{
	filter: brightness(110%) contrast(80%) saturate(80%);
}

a:hover{
	span{
		display: block;
	}
}