/*Marchesi Pietro 4BI stile.css*/


/*****************************************/
/*"Formattazione testo e pagina generale**/
/*****************************************/

body {
  font-family: 'Roboto';
  background-color: #2C302E;
}

h1 {
  color: white;
  text-align: center;
  font-size: 60px;
}

h2{
  text-align: center;
  font-size: 40px;
  color: white;
}

h3{
  text-align: center;
  font-size: 34px;
  color: white;
}

p{
	color:white;
  font-size: 25px;
  margin-left: 25px;
  margin-right: 25px;
}

.sx{
  float:left;
}


.dx{
  float:right;
}

/*Immagini polaroid*/
div.polaroid {
  width: 30%;
  height: auto;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  margin-left: 50px;
  margin-right: 50px;
}

div.testoCartolina {
  text-align: center;
  padding: 10px 20px;
  background-color: #333;
  color: white;
}

.polaroid > img{
  width: 100%;
}

/*Centra testo*/
.centro{
  text-align: center;
}

/*Abbassa un h3 in novita.html*/
.abbassa{
  margin-top:100px;
}

/*Immagini Index*/

.container {
  position: relative;
  width: 40%;
  margin-left:5%;
  margin-right:5%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: 600px;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

.text {
  background-color: #333333;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

/*Esempi di codice*/
pre {
  background-color: #666; 
  color:white;
  width: 40%;
}

/*Paragrafo nella pagina registri*/
#testoRegistri{
  font-size: 30px;
  text-align: center;
}


/**********************/
/*barra di navigazione*/
/**********************/

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbarc {
  float: none;
  position: absolute;
  left: 50%;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 24px;
}

/*Colore per i link su cui e il puntatore tranne quello attivo*/
li a:hover:not(.attivo) {
  background-color: #222;
}

/* Pagina attualmente attiva*/
.attivo {
  background-color: #555;
}



/*Tabella*/
.tabella {
  color: white;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  font-size: 25px;
  border-collapse: collapse;
}
.tabella th {
  background-color: #555;
}


/********/
/*Footer*/
/********/

footer {
  display: flex;
  bottom: 0;
  width: 100%;
  height: 100px;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #222;
  border-top: 2px solid white;
}

#home{
  position:absolute;
}

footer > img {
  border-radius: 40px;
}

footer > p {
  color: white;
  font-size: 17px;
  line-height: 2;
}
